.venv/
__pycache__/
*.pyc
.env
.idea/
.ipynb_checkpoints/
*.log

# Generated data
data/processed/

# MLflow local database
mlflow.db

# Trained model files
models/*.pkl
# Local MLflow artifacts
mlartifacts/